@{
    ViewBag.Title = "Inicio";
}


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}


<main class="container mt-4">
    <div class="jumbotron bg-light p-5 rounded shadow-sm">
        <h1 class="display-4"><i class="bi bi-bank2 text-primary"></i> Bienvenido al Banco Los Patitos</h1>
        <p class="lead">
            Esta plataforma le permite gestionar de forma eficiente los comercios afiliados, sus cajas, transacciones SINPE y más.
        </p>
        <hr class="my-4" />
        <p>
            Registra comercios con un solo click.
        </p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Comercios")" role="button"><i class="bi bi-shop"></i> Ir a Comercios</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-credit-card-2-front text-success"></i> Gestión SINPE</h5>
                    <p class="card-text">Registra transacciones SINPE asociadas a comercios.</p>
                    <a href="@Url.Action("Index", "Sinpes")" class="btn btn-outline-success">Ir a SINPE</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3 mt-md-0">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-journal-text"></i>Bitácora</h5>
                    <p class="card-text">Verifica la bitácora.</p>
                    <a href="@Url.Action("Index", "Bitacoras")" class="btn btn-outline-warning">Ver Bitácora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3 mt-md-0">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-people text-info"></i> Soporte y Ayuda</h5>
                    <p class="card-text">¿Tenés preguntas o necesitás soporte?</p>
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-outline-info">Contáctenos</a>
                </div>
            </div>
        </div>
    </div>
</main>