@model IEnumerable<BancoLosPatitos.Models.Reporte>

@{
    ViewBag.Title = "Reportes";
}

<h2>Reportes</h2>

@using (Html.BeginForm("GenerarReportes", "Reportes", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success">
        <i class="bi bi-bar-chart-line"></i> Generar reporte
    </button>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comercio.Nombre)
        </th>
        <th>
            Cantidad de cajas
        </th>
        <th>
            Monto Total Recaudado
        </th>
        <th>
            Cantidad De SINPES
        </th>
        <th>
            Monto Total De Comision
        </th>
        <th>
            Fecha Del Reporte
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comercio.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDeCajas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotalRecaudado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDeSINPES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotalComision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDelReporte)
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Regresar a menu principal", "Index", "Home")
</div>