@model BancoLosPatitos.Models.ConfiguracionComercio

@{
    ViewBag.Title = "Editar configuracion";
}

<h2>Editar configuracion</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdConfiguracion)
    @Html.HiddenFor(model => model.IdComercio)

    <div class="form-group">
       Tipo De Configuracion
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TipoConfiguracion, (SelectList)ViewBag.TipoConfiguraciones, "Seleccione el tipo de configuracion", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TipoConfiguracion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comision, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comision, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comision, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.FechaDeRegistro)
    @Html.HiddenFor(model => model.FechaDeModificacion)

    <div class="form-group">
        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Estado, (SelectList)ViewBag.Estados, "Seleccione el estado", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
