@model IEnumerable<BancoLosPatitos.Models.ConfiguracionComercio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comercio.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoConfiguracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comercio.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoConfiguracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdConfiguracion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdConfiguracion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdConfiguracion })
        </td>
    </tr>
}

</table>
