@model BancoLosPatitos.Models.Comercio

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles Comercio</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            Tipo de identificacion
        </dt>

        <dd>
            @(
             Model.TipoIdentificacion switch
             {
                 1 => "Física",
                 2 => "Jurídica",
                 _ => "No especifica"
              })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Tipo de comercio
        </dt>

        <dd>
            @(
             Model.TipoDeComercio switch
             {
                 1 => "Restaurantes",
                 2 => "Supermercados",
                 3 => "Ferreterías",
                 _ => "Otros"
              })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            Correo electronico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            Fecha de registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeRegistro)
        </dd>

        <dt>
            Fecha de modificacion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @(
             Model.Estado switch
             {
                 1 => "Activo",
                 _ => "Inactivo"
              })
        </dd>

    </dl>
</div>
@Html.ActionLink("← Regresar", "Index", "Comercios", null,
    new
    {
        @class = "btn",
        style = "border:1px solid #666; color:#666; background:#fff; font-weight:600; border-radius:10px; padding:6px 14px;"
    })
