@model IEnumerable<BancoLosPatitos.Models.Caja>

@{
    ViewBag.Title = "Cajas";
}

<h2>Listado de Cajas</h2>

<p>
    @Html.ActionLink("Registrar Caja", "Create", null, new { @class = "btn btn-primary" })
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoSINPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @(item.Descripcion?.Length > 10 ? item.Descripcion.Substring(0, 10) + "..." : item.Descripcion)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TelefonoSINPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeRegistro)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdCaja }) |
            @Html.ActionLink("Ver SINPE", "VerSinpes", "Cajas", new { telefono = item.TelefonoSINPE }, null)
        </td>
    </tr>
}

</table>
